@import
  './sections/about-us.scss',
  './sections/benefits.scss',
  './sections/coffee-banner.scss',
  './sections/meet-us.scss',
  './sections/articles.scss',
  './sections/movie.scss';  


.bg-dimmer {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  &--white {
    opacity: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.half-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  &__item {
    max-width: 50%;
    .primary-btn {
      margin-left: 6.6rem;
    }
    &:nth-child(-n + 2) {
      padding-bottom: 8.5rem;
    }
    h3 {
      color: #e96188;
      padding-left: 6.3rem;
      text-align: left;
    }
  }
}

.three-box {
  display: flex;
  width: 100%;
  &__item {
    img {
      width: 100%;
    }
  }
}