.movie {
  padding: 0;
  max-height: 40rem;
  overflow: hidden;
  position: relative;
  video {
    width: 100%;
    margin-top: -20rem;
  }
  &__content {
    position: absolute;
    top: 0;
    padding: 7rem 25rem;
    color: #fff;
    width: 100%;
    &-carousel {
      display: flex;
    }
  }
}