.hero {
  background-image: url(../images/background-hero.jpg);
  background-position: center 70%;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.text_content {
  padding: 14rem 0;
}

.text_content h4 {
  text-transform: uppercase;
  font-weight: 500;
}

.text_content h1 {
  padding-top: 1.5rem;
  line-height: 5rem;
  text-transform: uppercase;
}

.text_content > p {
  padding: 1.5rem 0 4.2rem 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-shadow: 0 0 0.8rem #000;
  max-width: 50%;
  margin: 0 auto;
}

.box_box_item {
  display: flex;
}

.box_item {
  background-color: #fff;
  color: black;
  flex-basis: 33.33%;
}

.box_item:nth-child(2) {
  background-color: #efefef;
}

.box_item .fa-solid {
  color: #e96188;
  font-size: 4.5rem;
  padding: 4.2rem 0 3rem 0;
}

.box_item p {
  padding: 2.2rem 4.2rem 6rem;
}




