

nav {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  background-color: #fff;
  position: sticky;
  top: 0;
}

nav img {
  height: 6.7rem;
}

nav a {
  text-decoration: none;
}

.header_submenu .fa-caret-down {
  margin-left: 0.3rem;
}

.nav_underline {
  height: 0.3rem;
  background: #e96188;
  width: 0px;
  transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

nav > div,
.header_nav {
  display: flex;
}

.header_nav > li {
  display: inline-block;
  padding-top: 0.7rem;
}

.header_submenu {
  margin: 0 2rem;
  padding: 0 1.5rem;
  list-style-type: none;
  position: relative;
}

.header_submenu > ul {
  position: absolute;
  left: 0;
  padding: 1.3rem 0 1rem;
  width: 100%;
  display: none;
  background-color: #fff;
}

.header_submenu:hover > ul {
  display: block;
}

.header_submenu:hover .nav_underline {
  width: 100%;
}

.header_submenu li {
  list-style-type: none;
  padding: 0.2rem 1.5rem;
  position: relative;
}

.header_submenu li:before {
  font-family: 'FontAwesome';
  content: "\f061";
  color: #e96188;
  width: 0;
  display: inline-block;
  opacity: 0;
  top: 0.6rem;
  left: 0;
  position: absolute;
  z-index: 1;
  transition: all 0.85s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.header_submenu li:hover:before {
  width: 0.8rem;
  opacity: 0.5;
  left: 1.5rem;
}

.header_submenu li:hover a {
  padding-left: 2rem;
}

.header_submenu li a {
  font-size: 1.2rem;
  display: block;
  position: relative;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

