.section_header { 
  text-align: center;
  padding-bottom: 8rem;
}
  
.half_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.half_box__item {
  max-width: 50%;
}

.half_box__item:nth-child(-n+2) {
  padding-bottom: 8.5rem;
}

.about_us .half_box__item h3 {
  color: #e96188;
  padding-left: 6.3rem;
  text-align: left;
}

.about_us p {
  padding: 2rem 6.6rem 4rem;
}

.about_us .primary_btn {
  margin-left: 6.6rem;
}

.benefits {
 background-image: url(../images/benefit_section_background.jpg);
 background-position: center;
 background-size: 100%;
 color: #fff;
 position: relative;
}

.bg_dimmer {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.benefits .wrap {
  position: relative;
}

.benefits p {
  margin: 2rem 1.5rem 0;
  padding-bottom: 0;
  font-weight: 400;
}

.numeric_header {
  position: relative;
  padding-left: 1.5rem;
}

.numeric_header span {
  position: absolute;
  font-size: 6.4rem;
  font-weight: 700;
  opacity: 0.3;
  padding: 1.7rem 0;
  top: -5rem
}

.numeric_header h4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.text_info, .text_info:visited {
  font-size: 1.6rem;
  color: #e96188;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 1.5rem;
}

.benefits .half_box {
  align-items: flex-start;
  padding-top: 1rem;
}

.benefits .half_box__item:nth-child(-n+2) {
  padding-bottom: 4.5rem;
}

.benefits .wrap > .half_box > .half_box__item {
  padding-bottom: 0;
}

.benefits .wrap > .half_box > .half_box__item:last-child {
  align-self: center;
  padding-left: 8rem;
  box-sizing: border-box;
}

.benefits  .half_box__item:last-child h4 {
  margin-left:  1.5rem;
}

.benefits .half_box__item:last-child h3 {
  margin-left: 1.5rem;
}

.benefits .primary_btn {
  display: inline-block;
  margin: 4rem 0 0 2rem;
}


